<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poesias Incríveis</title>
</head>
<body>
  {% include 'base_templates/header.html' %}
  <h2>Autores</h2>
  <ul>
    {% for author in authors %}
    <li><a href="{% url 'author_id' author.id %}">{{author.name}}</a></li>
    {% endfor %}
  </ul>

  <h2>Categorias</h2>
  <ul>
    {% for category in categories %}
    <li><a href="{% url 'category_id' category.id %}">{{category.name}}</a></li>
    {% endfor %}
  </ul>

  {% include 'base_templates/footer.html' %}
</body>
</html>