<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{poetry.title}}</title>
</head>

<body>
  <h1>{{ poetry.title }}</h1>
  <p>Por: {{ poetry.author.first_name }} {{ poetry.author.last_name }}</p>
  <p>Gênero: {{ poetry.genre.name }}</p>
  <img src="{{ poetry.cover.url }}" alt="{{ poetry.title }}">

  {% if poetry.is_popular %}
  <p>🌟 Esta é uma poesia popular!</p>
  {% endif %}

  <p>{{ poetry.full_text }}</p>
</body>

</html>