<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer>
    <div>
      <div>
        <p>&copy; 2024 Poesias Incríveis. Todos os direitos reservados.</p>
      </div>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/poema_detail">Poemas</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/produtos">Produtos</a></li>
        </ul>
      </div>
      <div>
        <p>Contato: contato@poesiasincriveis.com.br</p>
      </div>
    </div>
  </footer>
</body>
</html>