<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div>
      <h1>Poesias Incríveis</h1>
      <p>Onde a inspiração encontra as palavras</p>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/poema_detail">Poemas</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/produtos">Produtos</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>